    </body>
    <footer class="page-footer">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-footer">
                  <div class="navbar-header">
                   <a class="navbar-footer" href="/"><p>TradeMark - @Nimahi Creations -2019 </p></a>
                    <a class="navbar-footer" href="/"><p><em>Author:adityamandlekar@gmail.com</em> </p></a>
                    <a class="navbar-footer" href="/"><p><p><em>"Character consists of what you do on the third and fourth tries."</em> </p> </p></a>
            </div>
            </div>
        </div>
    </nav>
    </footer>
</html>