<% include (partials/header.ejs) %>
<p> This is demo of EJS Conditional Statements</p>
<h1> You Fell in love with : <%= thingVar %></h1>

<% if (thingVar=="Rusty") { %>
<p> Good Choice. Rusty is the Best </p>
<% } else {%>
<p> Bad choice. You could have chosen Rusty</p>
<% } %>
<% include (partials/footer.ejs) %>